.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal_container {
    background-color: #f2f2f2;
    max-width: 900px;
    width: 100%;
    border-radius: 0.4rem;
    box-shadow: 0 1px 10px #999;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 25px;
  }  
  .modal_close {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    top: 2.2rem;
    right: 3rem;
    cursor: pointer;
  }
  
  .ModalBtn {
    background-color: transparent;
    border: 1px solid #999;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    background-image: linear-gradient(45deg,#EFC7EF 50%,transparent 50%);
    background-size: 300%;
    background-position: 100%;
    transition: all 0.5s ease;
  }
  
  .ModalBtn:hover {
    background-position: 0;
    color: #000;
  }
  .modal_footer{
    padding: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
  }
  .modal-title {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .modal_content {
    padding: 1rem;
  }
  .Netcompanylogo{
    width: 50%;
    height: 50%;
  }